
#map {
  width: 68.5%;
  height: 658px;
  overflow: scroll;
  display: inline-block;
  float: right;
  position: relative;
}

#header {
	z-index: 1;
	position: relative;
	width: 100%;
	margin-top: -20px;
	height: 15%;
	background-color: #333333;
	margin-bottom: 10px;
  border: solid gray 1px;
}

#panel {
  width: 29.5%;
  height: 88.3%;
  font-family: sans-serif;
  float: left;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: fixed;
  background-color: #737373;
  color: white;
  overflow: scroll;
  padding: 3px;
  border: solid gray 1px;
}

#panel p {
  font-size: 12px;
}

li {
  text-align: left;
  color: #333333;
  font-size: 12px;
}

#lossList li {
  color: white;
}

#gainList li {
  color: white;
}

hr {
  width: 75%;
}

#ptext h3 {
  color: #00b3b3;
}

#title {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: 7px;
  color: #00b3b3;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}

.range-slider {
  width: 150px;
}

#forward {
  float: right;
}

#reverse {
  float: left;
}

.sequence-control-container {
  width: 250px;
  height: 30px;
  background-color: #e6ffff;
  padding: 10px;
  bottom: 5%;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
  opacity: 70%;
  position: relative;
}

.legend-control-container {
  width: 150px;
  height: 140px;
  right: 5%;
  background-color: #e6ffff;
  border: solid gray 1px;
  padding: 5px;
  bottom: 5%;

}

.legend-control-container h3 {
  text-align: center;
  font-size: 14px;
}
