
#map {
  height: 650px;
  width: 68.5%;
  display: inline-block;
  float: right;
  position: relative;
}

#header {
	z-index: 1;
	position: relative;
	width: 100%;
	margin-top: -20px;
	height: 90px;
	background-color: #333333;
	margin-bottom: 10px;
}

#panel {
  width: 29.5%;
  height: 640px;
  font-family: sans-serif;
  float: left;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: fixed;
  background-color: #737373;
  color: white;
  overflow: scroll;
  padding: 5px;
}

#panel p {
  font-size: 12px;
}

li {
  text-align: left;
  color: #333333;
  font-size: 12px;
}

#lossList li {
  color: white;
}

#gainList li {
  color: white;
}

hr {
  width: 75%;
}

/*#gainList {
  width: 70%;
  /*height: 290px;*/
  /*height: 32%;
  background-color: #e6ffff;
  display: inline-block;
  color: #333333;
  margin-right: 14px;
  align-self: center;
}*/

#title {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: 25px;
  color: white;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}

.range-slider {
  width: 150px;
}

#forward {
  float: right;
}

#reverse {
  float: left;
}

.sequence-control-container {
  width: 250px;
  height: 30px;
  background-color: #e6ffff;
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
  opacity: 70%;
}

.legend-control-container {
  width: 150px;
  background-color: #e6ffff;
  border: solid gray 1px;
}

.legend-control-container h3 {
  text-align: center;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:110px;right:30px;
  z-index:1;
  border-radius:3px;
  width:120px;
  font-family:sans-serif;
  border:1px solid rgba(0,0,0,0.4);
  }

.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
  }

.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
  }

.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
  }

.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
  }

.menu-ui a.active,
.menu-ui a.active:hover {
  background:#3887BE;
  color:#FFF;
  }
